-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: projectsystem
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity`
--

DROP TABLE IF EXISTS `activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `ProjectId` int NOT NULL,
  `Sequence` int NOT NULL,
  `Level` int NOT NULL DEFAULT '0',
  `Name` varchar(200) NOT NULL,
  `Notes` text,
  `Mode` int NOT NULL DEFAULT '0',
  `Duration` int NOT NULL DEFAULT '0',
  `PlannedStart` date DEFAULT NULL,
  `PlannedFinish` date DEFAULT NULL,
  `TargetDate` date DEFAULT NULL,
  `ActualStart` date DEFAULT NULL,
  `ActualFinish` date DEFAULT NULL,
  `PercentComplete` int NOT NULL DEFAULT '0',
  `RoleId` int DEFAULT NULL,
  `BaselineStart` int DEFAULT NULL,
  `BaselineFinish` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `ix_activity_seq` (`ProjectId`,`Sequence`),
  KEY `fk_act_role` (`RoleId`),
  CONSTRAINT `fk_act_project` FOREIGN KEY (`ProjectId`) REFERENCES `project` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `fk_act_role` FOREIGN KEY (`RoleId`) REFERENCES `role` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity`
--

LOCK TABLES `activity` WRITE;
/*!40000 ALTER TABLE `activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_assignee`
--

DROP TABLE IF EXISTS `activity_assignee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_assignee` (
  `ActivityId` int NOT NULL,
  `PersonId` int NOT NULL,
  PRIMARY KEY (`ActivityId`,`PersonId`),
  KEY `fk_aa_person` (`PersonId`),
  CONSTRAINT `fk_aa_activity` FOREIGN KEY (`ActivityId`) REFERENCES `activity` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `fk_aa_person` FOREIGN KEY (`PersonId`) REFERENCES `person` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_assignee`
--

LOCK TABLES `activity_assignee` WRITE;
/*!40000 ALTER TABLE `activity_assignee` DISABLE KEYS */;
INSERT INTO `activity_assignee` VALUES (3,2),(5,2),(7,2),(9,2),(11,2),(13,2),(4,3),(6,3),(10,3),(12,3);
/*!40000 ALTER TABLE `activity_assignee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_dependency`
--

DROP TABLE IF EXISTS `activity_dependency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_dependency` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `ActivityId` int NOT NULL,
  `PredecessorId` int NOT NULL,
  `Type` int NOT NULL DEFAULT '0',
  `Lag` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`Id`),
  UNIQUE KEY `ux_dep` (`ActivityId`,`PredecessorId`),
  KEY `fk_dep_pred` (`PredecessorId`),
  CONSTRAINT `fk_dep_activity` FOREIGN KEY (`ActivityId`) REFERENCES `activity` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dep_pred` FOREIGN KEY (`PredecessorId`) REFERENCES `activity` (`Id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_dependency`
--

LOCK TABLES `activity_dependency` WRITE;
/*!40000 ALTER TABLE `activity_dependency` DISABLE KEYS */;
INSERT INTO `activity_dependency` VALUES (1,4,3,0,0),(2,5,4,1,1),(3,6,2,0,0),(4,7,6,0,0),(5,9,7,0,0),(6,10,7,1,2),(7,11,9,2,-3),(8,12,11,0,0),(9,13,12,0,0);
/*!40000 ALTER TABLE `activity_dependency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_entry`
--

DROP TABLE IF EXISTS `audit_entry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_entry` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `TimestampUtc` datetime(3) NOT NULL,
  `Who` varchar(120) NOT NULL,
  `Action` varchar(40) NOT NULL,
  `EntityKind` varchar(40) NOT NULL,
  `EntityName` varchar(200) NOT NULL,
  `ProjectCode` varchar(30) DEFAULT NULL,
  `ProjectId` int DEFAULT NULL,
  `ActivityId` int DEFAULT NULL,
  `Detail` text,
  PRIMARY KEY (`Id`),
  KEY `ix_audit_time` (`TimestampUtc`),
  KEY `ix_audit_project` (`ProjectId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_entry`
--

LOCK TABLES `audit_entry` WRITE;
/*!40000 ALTER TABLE `audit_entry` DISABLE KEYS */;
INSERT INTO `audit_entry` VALUES (1,'2026-09-15 11:23:36.135','seed','Created','Project','Pilot fixture line','DEMO',1,NULL,'14 rows from golden.json'),(2,'2026-09-15 12:27:09.544','Shubham Singh','Edited','Person','Asha Verma',NULL,NULL,NULL,'role: 1 -> 2'),(3,'2026-09-15 12:27:14.877','Shubham Singh','Edited','Person','Asha Verma',NULL,NULL,NULL,'role: 2 -> 1');
/*!40000 ALTER TABLE `audit_entry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holiday`
--

DROP TABLE IF EXISTS `holiday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `holiday` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `ProjectId` int NOT NULL,
  `Date` date NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `ux_holiday` (`ProjectId`,`Date`),
  CONSTRAINT `fk_hol_project` FOREIGN KEY (`ProjectId`) REFERENCES `project` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holiday`
--

LOCK TABLES `holiday` WRITE;
/*!40000 ALTER TABLE `holiday` DISABLE KEYS */;
INSERT INTO `holiday` VALUES (1,1,'2026-01-26'),(2,1,'2026-03-06');
/*!40000 ALTER TABLE `holiday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organisation`
--

DROP TABLE IF EXISTS `organisation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organisation` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(120) NOT NULL,
  `Description` varchar(600) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `ux_org_name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organisation`
--

LOCK TABLES `organisation` WRITE;
/*!40000 ALTER TABLE `organisation` DISABLE KEYS */;
INSERT INTO `organisation` VALUES (1,'Engineering','Design and build');
/*!40000 ALTER TABLE `organisation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person`
--

DROP TABLE IF EXISTS `person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `person` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(120) NOT NULL,
  `Email` varchar(200) DEFAULT NULL,
  `RoleId` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `fk_person_role` (`RoleId`),
  CONSTRAINT `fk_person_role` FOREIGN KEY (`RoleId`) REFERENCES `role` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
INSERT INTO `person` VALUES (1,'Asha Verma','asha@example.com',1),(2,'Rahul Singh','rahul@example.com',2),(3,'Meera Iyer','meera@example.com',2);
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Code` varchar(30) NOT NULL,
  `Name` varchar(200) NOT NULL,
  `PlannedStart` date NOT NULL,
  `PlannedEnd` date DEFAULT NULL,
  `Status` int NOT NULL DEFAULT '0',
  `Notes` text,
  `OrganisationId` int DEFAULT NULL,
  `OwnerId` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `ux_project_code` (`Code`),
  KEY `fk_project_org` (`OrganisationId`),
  KEY `fk_project_owner` (`OwnerId`),
  CONSTRAINT `fk_project_org` FOREIGN KEY (`OrganisationId`) REFERENCES `organisation` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `fk_project_owner` FOREIGN KEY (`OwnerId`) REFERENCES `person` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project`
--

LOCK TABLES `project` WRITE;
/*!40000 ALTER TABLE `project` DISABLE KEYS */;
INSERT INTO `project` VALUES (1,'DEMO','Pilot fixture line','2026-01-05','2026-04-03',0,'Sample plan from the golden fixture. Edit freely.',1,1);
/*!40000 ALTER TABLE `project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_team`
--

DROP TABLE IF EXISTS `project_team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_team` (
  `ProjectId` int NOT NULL,
  `PersonId` int NOT NULL,
  PRIMARY KEY (`ProjectId`,`PersonId`),
  KEY `fk_pt_person` (`PersonId`),
  CONSTRAINT `fk_pt_person` FOREIGN KEY (`PersonId`) REFERENCES `person` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pt_project` FOREIGN KEY (`ProjectId`) REFERENCES `project` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_team`
--

LOCK TABLES `project_team` WRITE;
/*!40000 ALTER TABLE `project_team` DISABLE KEYS */;
INSERT INTO `project_team` VALUES (1,1),(1,2),(1,3);
/*!40000 ALTER TABLE `project_team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(120) NOT NULL,
  `Responsibilities` varchar(1000) DEFAULT NULL,
  `Colour` varchar(9) NOT NULL DEFAULT '#2F6F9E',
  `ViewAccess` varchar(200) NOT NULL DEFAULT 'portfolio,plan,assign,miles',
  `OrganisationId` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `fk_role_org` (`OrganisationId`),
  CONSTRAINT `fk_role_org` FOREIGN KEY (`OrganisationId`) REFERENCES `organisation` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (1,'Project manager',NULL,'#2F6F9E','portfolio,plan,assign,miles,audit,team',1),(2,'Engineer',NULL,'#3C8D5A','portfolio,plan,assign,miles',1);
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-16 19:11:22
